/* header{
    width: 100%;
    height: 110px;
    margin-top: 20px;
    position: fixed;
    z-index: 1;

}

.container_menu {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: azure;

}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 300px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul{
    height: 50px;
    display: flex;
}

.menu ul li{
    height: 30px;
    list-style: none;
    margin-top: 20px;
    margin-right: 30px;
}

.menu ul li a{
    text-decoration: none;
    font-size: 18px;
    color: darkcyan;
    text-transform: uppercase;
}


.back_menu {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: none;
}

#bars{
    color: black;
    display: none;
    
}

#selected {
    background: #48d1cc;
    padding: 12px 40px;
    border-radius: 50px;
    
}

.menu nav img {
    display: none;
  }





@media screen and (max-width: 1200px) {

    header {
      padding: 40px;
    }
  }

@media screen and (max-width: 900px) {

    * {
      padding: 10px;


      display: flex;
      color: turquoise;
      font-size: 2rem;
    }
  
    nav {
      width: 250px;
      height: 100vh;
      top: 0;
      right: -250px;
      padding: 40px;
      position: fixed;
      background: turquoise;
      z-index: 1;
    }
  
    nav ul {
      flex-direction: column;
      margin-top: 40px;
  
    }
  
    nav ul li {
      margin-top: 30px;
      margin-left: 0;
    }
  
    nav ul li a {
      color: brown;
    }
  
    #selected {
      background-color: none;
      padding: 0;
      border-radius: none;
      color: azure
    }
  
    .menu nav img {
      display: block;
      width: 100px;      
    }

    .back_menu {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        display: none;        
    }

    .back_menu_mobile {
      width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        display: none;  
    }

    #bars{        
        display: flex;
        width: 60px;
        height: 60px;
        margin-top: 5px;
        align-items: center;
        justify-content: center;            
        font-size: 35px;
        border-radius: 50px;
        background-color: rgba(57, 222, 247, 0.4);
        box-shadow: rgba(50, 50, 93, 0.25) 
          0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 
          0px 30px 60px -30px, 
          rgba(10, 37, 64, 0.35) 
          0px -2px 6px 0px inset;
        cursor: pointer;
        transition: all 300ms;
        }

      #bars{        
        display: flex;
        width: 60px;
        height: 60px;
        margin-top: 5px;
        align-items: center;
        justify-content: center;            
        font-size: 35px;
        border-radius: 50px;
        background-color: rgba(57, 222, 247, 0.4);
        box-shadow: rgba(50, 50, 93, 0.25) 
          0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 
          0px 30px 60px -30px, 
          rgba(10, 37, 64, 0.35) 
          0px -2px 6px 0px inset;
      }

      #bars:hover{       
        background-color: rgba(57, 222, 247, 0.2);
 
          }
  
  }


 */
